@{
    ViewBag.Title = "Home Page";
}


<h1>Welcome!!</h1>
<div class="row">
    <div class="col-md-4">
      <button type="button" class="btn btn-dark btn-lg btn-block" onclick="window.location.href='../Admin'">Admin</button>
    </div>
    <div class="col-md-4">
      <button type="button" class="btn btn-danger btn-lg btn-block" onclick="window.location.href='../Insuree'">Insuree</button>
    </div>
</div>